.contato-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.contato-img {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-self: flex-end;
}

.contato-dados {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}

.contato-dados > h1 {
  font-size: 1.7rem;
}

.contato-dados > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contato-dados > ul > li {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.contato-dados > ul > li::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #84e;
  margin-right: 20px;
}
