.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 10vh;
  padding: 2rem;
  align-items: center;
  margin-bottom: 4rem;
}

.header-title {
  text-transform: uppercase;
  color: #84e;
}

.header-nav {
  display: flex;
  justify-self: flex-end;
}

.header-nav > ul > li {
  display: inline-block;
  list-style: none;
  margin-right: 2rem;
}

.nav-link {
  text-decoration: none;
  color: #141414;
  font-size: 1.2rem;
  background: #ddd;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.active,
.nav-link:hover {
  color: #eee;
  background: #84e;
}
